@model ProyectoWebCoworking.Models.Usuario
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registro de Usuario";
}

<h2 class="text-center">Formulario de Registro</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Usuarios" asp-action="Registro" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label">Nombre Completo</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Contraseña</label>
                <input asp-for="Password" class="form-control" type="password" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Teléfono" class="form-label">Teléfono</label>
                <input asp-for="Teléfono" class="form-control" />
                <span asp-validation-for="Teléfono" class="text-danger"></span>
            </div>

            <hr />

            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        </form>

    </div>
</div>