@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<h2 class="text-center">Formulario de Registro</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form>
            <div classab="mb-3">
                <label for="nombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" placeholder="Tu nombre y apellidos" />
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" />
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" />
            </div>

            <hr />

            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        </form>

    </div>
</div>