html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
/*
html {
  position: relative;
  min-height: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

footer.footer {
    position: relative; 
    width: 100%;
    white-space: normal; 
    line-height: normal;
    bottom: auto;
    height: auto;
    margin-bottom: 0;
}
*/
.hero-section {
    background: url('../images/Coolwork_space-1.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

/* Estilos para la Home */
.service-card {
    transition: all 0.3s ease;
    border: 1px solid rgba(0,0,0,0.05); /* Borde casi invisible */
}

    .service-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        border-color: transparent;
    }

.icon-box {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
}

/*.card:hover {
    transform: translateY(-5px);
}*/